node_modules
npm-debug.log
.env*
README.md
notes.mkd
component-plan.mkd
*.iml
.idea/
.gitignore
.git
.circleci
promote-from-mock-to-stage.sh
docker-compose.yml
kudu-deploy.sh
promote-to-env.sh
scss-report.txt
tests
eslint-report.html
test-report.html
bin