# When installing the dependencies there are a significant number of conflicts - specifically involving react. 
# These include @govuk-react/* and styled-components, react and react-datetime
legacy-peer-deps=true