@import "colours/palette";

.searchForm {
  background-color: $grey-4;
}

select {
  background-color: white;
}

%statusStyle {
  border: 3px solid green;
  padding: .3em 1em .2em 1em;
  text-align: center;
  display: inline-block;
  min-width: 7em;
}

.inactiveStatus {
  @extend %statusStyle;
  color: orange;
  border-color: orange;
}

.unavailableStatus {
  @extend %statusStyle;
  color: darkgrey;
  border-color: darkgrey;
}

.activeStatus {
  @extend %statusStyle;
  color: green;
  border-color: green;
}

.capacityInput {
  width:3em;
}


%numberCircle {
  position:relative;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  border-radius: 50%;
  text-align: center;
  font-size: 1.1em;
  display: inline-block;
  font-weight: bold;
  margin-left: 0.5em;
  margin-bottom: -0.5em;
}

.numberCircleGreen {
  @extend %numberCircle;
  background-color: #C2CCA5;
}

.numberCircleGrey {
  @extend %numberCircle;
  background-color: #bec1c3;
}

.numberCircleAmber {
  @extend %numberCircle;
  background-color: #F9BB9B;
}

.numberCircleRed {
  @extend %numberCircle;
  background-color: #EF9799;
}

#editProfileButton {
  margin-top: 1.4em;
  float: right;
  margin-right: 1em;
}

.adjustCount {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  top: .07em;
}

.annualLeaveDate {
  width: 13em;
}

.activeDate {
  margin-left: -3em;
}



