.messageBarContainer {
  position: fixed;
  z-index: 1;
  top: 60px;
  width: 100%;
}

.messageBar {
  text-align: center;
  background-color:#009390;
  color: white;
  width: 100%;
  padding: 6px;
}
