{% extends "./partials/layout.njk" %}
{% from "./components/card.njk" import card %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "./components/alert/macro.njk" import mojAlert %}

{% set title = 'Key workers' %}
{% set feedbackBannerBackground = '#f0f4f5 '%}

{% block main %}
  <div class="govuk-width-container">
    {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsUrl
      }
    ]
  }) }}

  {% if announcement %}
    {{ mojAlert({
      variant: "information",
      title: announcement.title,
      html: announcement.html,
      showTitleAsHeading: true,
      dismissible: true
    }) }}
  {% endif %}

    <h1 class="govuk-heading-l govuk-!-margin-top-7">{{ title }}</h1>
  </div>

  <div class="homepage-content">
    <div class="govuk-width-container">
      <ul class="govuk-grid-row card-group">
        {% for task in tasks %}
          <li class="govuk-grid-column-one-third card-group__item">
            {{ card({
              "href": task.href,
              "clickable": "true",
              "heading": task.heading,
              "description": task.description,
              "id": task.id
            }) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/static/js/card.js"></script>
  <script src="/static/js/alert.js"></script>
{% endblock %}