{% extends "./partials/layout.njk" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}


{% block content %}
    {% if errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa-errors': true }
        }) }}
    {% endif %}
    <h1 class="govuk-heading-l">Search for a prisoner</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-thirds">
            <form action="/manage-key-workers/search-for-prisoner" method="post">
                {{ govukInput({
                    label: {
                        html: 'Enter a prisoner&#39;s name or number'
                    },
                    id: "search-text",
                    name: "searchText",
                    errorMessage: errors | findError('search-text')
                }) }}

                {{ govukButton({
                    text: "Search",
                    type: "submit"
                }) }}
            </form>
        </div>
        <div class="govuk-grid-column-full-width">
            <table class="govuk-table govuk-table--with-child-rows" data-test="offender-results-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" data-test="name-table-header">Name</th>
                    <th scope="col" class="govuk-table__header">Prison number</th>
                    <th scope="col" class="govuk-table__header">Location</th>
                    <th scope="col" class="govuk-table__header">Release date</th>
                    <th scope="col" class="govuk-table__header">Key worker</th>
                    <th scope="col" class="govuk-table__header">Change key worker</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% for offender in offenders %}
                    <td class="govuk-table__cell">{{ offender.name }}</td>
                    <td class="govuk-table__cell">{{ offender.prisonNumber }}</td>
                    <td class="govuk-table__cell">{{ offender.location }}</td>
                    <td class="govuk-table__cell">{{ offender.releaseDate }}</td>
                    <td class="govuk-table__cell">{{ offender.keyworker }}</td>
                    <td class="govuk-table__cell">
                        {{ govukSelect({
                            id: "keyworker",
                            name: "keyworker",
                            items: keyworkersDropdownValues | addDefaultSelectedVale('Select key worker')
                        }) }}
                    </td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
    <script>
      new MOJFrontend.SortableTable({
        table: $('table')[0],
      })
    </script>
{% endblock %}
