version: 2.1

orbs:
  hmpps: ministryofjustice/hmpps@3.5
  browser-tools: circleci/browser-tools@1.1.1

jobs:
  build:
    executor:
      name: hmpps/node
      tag: 14.16-browsers
    steps:
      - checkout
      - restore_cache:
          key: node_modules-{{ checksum "package-lock.json" }}-{{ checksum "package.json" }}
      - run:
          name: Install Dependencies
          command: CYPRESS_INSTALL_BINARY=0 npm ci --no-audit
      - save_cache:
          key: node_modules-{{ checksum "package-lock.json" }}-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: Run eslint
          command: npm run lint
      - run:
          name: Run Tests
          command: |
            set -e
            npm test -- --maxWorkers=2
      - run: NODE_ENV=production npm run build
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
            - build

  # integration_tests:
  #   working_directory: ~/app
  #   docker:
  #     - image: cimg/node:14.15-browsers
  #   steps:
  #     - browser-tools/install-browser-tools
  #     - checkout
  #     - attach_workspace:
  #         at: ~/app
  #     - run:
  #         name: Run the node app.
  #         command: npm run start-feature-no-webpack --env=feature.env
  #         background: true
  #     - restore_cache:
  #         key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
  #     - restore_cache:
  #         key: gradle-cache-{{ checksum "keyworker-specs/build.gradle" }}
  #     - run:
  #         name: Run Integration Tests
  #         command: ./gradlew build
  #     - save_cache:
  #         key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
  #         paths:
  #           - /home/circleci/.gradle/wrapper
  #     - save_cache:
  #         key: gradle-cache-{{ checksum "keyworker-specs/build.gradle" }}
  #         paths:
  #           - /home/circleci/.gradle/caches
  #     - store_artifacts:
  #         path: keyworker-specs/build/reports
  #         destination: integration/spock
  #     - store_artifacts:
  #         path: keyworker-specs/build/geb-reports
  #         destination: integration/geb
  #     - store_test_results:
  #         path: keyworker-specs/build/test-results

  cypress_integration_tests:
    working_directory: ~/app
    docker:
      - image: cimg/node:14.15-browsers
      - image: bitnami/redis:5.0
        environment:
          ALLOW_EMPTY_PASSWORD=yes
    steps:
      - checkout
      - attach_workspace:
          at: ~/app
      - run:
          name: Get wiremock
          command: curl -o wiremock.jar https://repo1.maven.org/maven2/com/github/tomakehurst/wiremock-standalone/2.26.3/wiremock-standalone-2.26.3.jar
      - run:
          name: Run auth wiremock
          command: java -jar wiremock.jar --port 9191
          background: true
      - restore_cache:
          key: node_modules-{{ checksum "package-lock.json" }}-{{ checksum "package.json" }}
      - run:
          name: Install cypress.
          command: npx cypress install
      - run:
          name: Run the node app.
          command: npm run start-feature-no-webpack --env=cypress.env
          background: true
      - run:
          name: integration tests
          command: npm run int-test
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: integration-tests/videos
      - store_artifacts:
          path: integration-tests/screenshots

workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - build:
          filters:
            tags:
              ignore: /.*/
      # - integration_tests:
      #     requires:
      #       - build
      - cypress_integration_tests:
          requires:
            - build
      - hmpps/helm_lint:
          name: helm_lint
      - hmpps/build_docker:
          name: build_docker
          image_name: "quay.io/hmpps/manage-key-workers"
          filters:
            branches:
              only:
                - main
      - hmpps/deploy_env:
          name: deploy_dev
          env: "dev"
          context: hmpps-common-vars
          filters:
            branches:
              only:
                - main
          requires:
            - helm_lint
            - build_docker
            # - integration_tests
            - cypress_integration_tests
      - request-preprod-approval:
          type: approval
          requires:
            - deploy_dev
      - hmpps/deploy_env:
          name: deploy_preprod
          env: "preprod"
          context:
            - hmpps-common-vars
            - manage-key-workers-preprod
          requires:
            - request-preprod-approval
      - request-prod-approval:
          type: approval
          requires:
            - deploy_preprod
      - hmpps/deploy_env:
          name: deploy_prod
          env: "prod"
          slack_notification: true
          context:
            - hmpps-common-vars
            - manage-key-workers-prod
          requires:
            - request-prod-approval

  security:
    triggers:
      - schedule:
          cron: '0 7 * * 1-5'
          filters:
            branches:
              only:
                - main
    jobs:
      - hmpps/npm_security_audit:
          context:
            - hmpps-common-vars
      - hmpps/trivy_latest_scan:
          context:
            - hmpps-common-vars
      - hmpps/veracode_policy_scan:
          context:
            - veracode-credentials
            - hmpps-common-vars

