.feedback-banner {
  background: $govuk-brand-colour;
  padding: govuk-spacing(4);

  // Only neccessary because of the React template layout
  max-width: 1170px;
  margin: 0 auto;
}

.dashboard-feedback-banner {
  width: 100%;
}