.results-table {
  overflow: auto;

  .govuk-table__header {
    vertical-align: bottom;
  }

  .govuk-table__cell {
    vertical-align: middle;
  }

  .govuk-form-group {
    margin-bottom: 0;
  }
}
