# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 4

image:
  repository: quay.io/hmpps/manage-key-workers
  tag: latest
  pullPolicy: IfNotPresent
  port: 3000

ingress:
  enabled: true
  enable_allowlist: true
  host: preprod.manage-key-workers.service.justice.gov.uk
  cert_secret: manage-key-workers-cert
  path: /

env:
  API_ENDPOINT_URL: https://api-preprod.prison.service.justice.gov.uk
  OAUTH_ENDPOINT_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
  KEYWORKER_API_URL: https://keyworker-api-preprod.prison.service.justice.gov.uk
  NN_ENDPOINT_URL: https://digital-preprod.prison.service.justice.gov.uk/
  PRISON_STAFF_HUB_UI_URL: https://whereabouts-preprod.prison.service.justice.gov.uk/
  HMPPS_COOKIE_NAME: hmpps-session-preprod
  NODE_ENV: production
  MAINTAIN_ROLES_ENABLED: "true"
  KEYWORKER_PROFILE_STATS_ENABLED: "true"
  KEYWORKER_DASHBOARD_STATS_ENABLED: "true"
  REMOTE_AUTH_STRATEGY: "true"
  WEB_SESSION_TIMEOUT_IN_MINUTES: "60"
  TOKENVERIFICATION_API_URL: "https://token-verification-api-preprod.prison.service.justice.gov.uk"
  TOKENVERIFICATION_API_ENABLED: true
  REDIS_ENABLED: true
  SUPPORT_URL: https://support-preprod.hmpps.service.justice.gov.uk/
  COMPLEXITY_OF_NEED_API_URL: https://hmpps-complexity-of-need-staging.apps.live-1.cloud-platform.service.justice.gov.uk

allowlist:
  office: "217.33.148.210/32"
  quantum: "62.25.109.197/32"
  quantum_alt: "212.137.36.230/32"
  health-kick: "35.177.252.195/32"
  digitalprisons1: "52.56.112.98/32"
  digitalprisons2: "52.56.118.154/32"
  mojvpn: "81.134.202.29/32"
  j5-phones-1: "35.177.125.252/32"
  j5-phones-2: "35.177.137.160/32"
  sodexo-northumberland: "88.98.48.10/32"
  serco: "217.22.14.0/24"
  ark-nps-hmcts-ttp1: "195.59.75.0/24"
  ark-nps-hmcts-ttp2: "194.33.192.0/25"
  ark-nps-hmcts-ttp3: "194.33.193.0/25"
  ark-nps-hmcts-ttp4: "194.33.196.0/25"
  ark-nps-hmcts-ttp5: "194.33.197.0/25"
  oakwood-1: "217.161.76.187/32"
  oakwood-2: "217.161.76.195/32"
  oakwood-3: "217.161.76.186/32"
  oakwood-4: "217.161.76.194/32"
  dxc_webproxy1: "195.92.38.20/32"
  dxc_webproxy2: "195.92.38.21/32"
  dxc_webproxy3: "195.92.38.22/32"
  dxc_webproxy4: "195.92.38.23/32"
  cloudplatform-live1-1: "35.178.209.113/32"
  cloudplatform-live1-2: "3.8.51.207/32"
  cloudplatform-live1-3: "35.177.252.54/32"
  moj-official-tgw-prod: "51.149.250.0/24"
  moj-official-tgw-preprod: "51.149.251.0/24"

