
.row-gutters {
    padding-top: 17px;
    padding-bottom: 17px;
}

.top-gutter {
    margin-top: 15px;
}

.tooltipImage {
    vertical-align: bottom;
}

.tooltipSpan {
    padding-left: 15px;
    padding-bottom: 3px;
}

table th, table td, table .form-control {
    font-size: 17px;
}

select.form-control{
    width: 100%;
}

/*  Define the background color for all the ODD background rows  */
table tr:nth-child(even){
    background: #f6f6f6;
}




