@import "colours/palette";
@import "design-patterns/buttons";

.row-gutters {
    padding-top: 17px;
    padding-bottom: 17px;
}

.top-gutter {
    margin-top: 15px;
}

.top-gutter-large {
    margin-top: 26px;
}

.tooltipImage {
    vertical-align: bottom;
}

.tooltipSpan {
    padding-left: 15px;
    padding-bottom: 3px;
}

table th, table td, table .form-control {
    font-size: 17px;
}

select.form-control{
    width: 100%;
}

/*  Define the background color for all the ODD background rows  */
table tr:nth-child(even){
    background: #f6f6f6;
}

.dateFilterInput {
    width: 90%;
}

.width100 {
    width: 100%;
}

.width70 {
    width: 70%;
}

.padding-top {
    padding-top: 15px;
}

.padding-top-small {
    padding-top: 7px;
}

.padding-bottom-large {
    padding-bottom: 27px;
}

.padding-top-large {
    padding-top: 46px;
}

.padding-left {
    padding-left: 17px;
}

.padding-right {
    padding-right: 17px;
}

.padding-bottom {
    padding-bottom: 17px;
}

.padding-right-large {
    padding-right: 27px;
}

.margin-left {
    margin-left: 17px;
}

.margin-top {
    margin-top: 17px;
}

.margin-bottom {
    margin-bottom: 17px;
}

.bold {
    font-weight: bold;
}

.blueButton {
    background-color: $govuk-blue;
}

a.link{

    color: $link-colour !important;
    font-size: 19px;

    &:hover {
        color: $link-hover-colour !important;
    }

    &:visited {
        // color: $link-colour !important;
        text-decoration: none !important;
    }
}


