{% macro govukAttributes(attributes) -%}
    {#- Default attributes output -#}
    {% set attributesHtml = attributes if attributes is string else "" %}

    {#- Append attribute name/value pairs -#}
    {%- if attributes is mapping %}
        {% for name, value in attributes %}
            {#- Detect if this is a `safe` filtered value. Just pass the value through if so. -#}
            {#- https://github.com/alphagov/govuk-frontend/issues/4937 -#}
            {% if value is mapping and not [undefined, null].includes(value.val) and value.length %}
                {% set value = value.val %}
            {% endif %}

            {#- Set default attribute options -#}
            {% set options = value if value is mapping else {
                value: value,
                optional: false
            } %}

            {#- Output ` name` only (no value) for boolean attributes -#}
            {% if options.optional === true and options.value === true %}
                {% set attributesHtml = attributesHtml + " " + name | escape %}
                {#- Skip optional empty attributes or output ` name="value"` pair by default -#}
                {% elif (options.optional === true and not [undefined, null, false].includes(options.value)) or options.optional !== true %}
                {% set attributesHtml = attributesHtml + " " + name | escape + '="' + options.value | escape + '"' %}
            {% endif %}
        {% endfor %}
    {% endif -%}

    {{- attributesHtml | safe -}}
{%- endmacro %}